{
  "root": true,
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "no-console": "off",
    "no-shadow": "off",
    "no-await-in-loop": "off",
    "no-loop-func": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": [
      "error", 160
    ]
  },
  "globals": {
    "contract": "readonly",
    "context": "readonly",
    "web3": "readonly",
    "artifacts": "readonly"
  }
}
