name: run linter and tests
on: [push]
jobs:
  start:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x]
    steps:
      - uses: actions/checkout@v1
      - name: node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: |
          npm i
        env:
          CI: true
      - name: linter
        run: |
          npm run lint
      - name: tests
        run: |
          npm run test:compile-all
